@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,400,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,400i,500,500i,600,600i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700');

/* wraps entire newsletter*/
#newsletterWrap.pageOne {position:relative; overflow:hidden; height:100%; max-width:605px; margin: 0 auto; background: url("../images/page1-bg.jpg") no-repeat center center / cover; -webkit-box-shadow: inset 0px -5px 0px 0px rgba(237,28,36,1);
-moz-box-shadow: inset 0px -5px 0px 0px rgba(237,28,36,1);
box-shadow: inset 0px -5px 0px 0px rgba(237,28,36,1);}
#newsletterWrap.pageEight {position:relative; overflow:hidden; height:100%; max-width:605px; margin: 0 auto; background: url("../images/page8-bg.jpg") no-repeat center center / cover; -webkit-box-shadow: inset 0px -5px 0px 0px rgba(237,28,36,1);
-moz-box-shadow: inset 0px -5px 0px 0px rgba(237,28,36,1);
box-shadow: inset 0px -5px 0px 0px rgba(237,28,36,1);}
#newsletterWrap {position:relative; overflow:hidden; height:100%; max-width:605px; margin: 0 auto; background: url("../images/page-bg.jpg") no-repeat center center / cover; -webkit-box-shadow: inset 0px -5px 0px 0px rgba(237,28,36,1);
-moz-box-shadow: inset 0px -5px 0px 0px rgba(237,28,36,1);
box-shadow: inset 0px -5px 0px 0px rgba(237,28,36,1);}
#newsletter h3 {color: #009ee2; font-weight: 400;}

/* top bar */
header.topBar p {color: #fff !important; line-height: normal !important}
.topBar {position:absolute; width:100%; top:0; z-index:100;}
.topBar p {display:inline-block; vertical-align:top; margin:0; letter-spacing:1px; padding:0 0 0 5px; font-family: 'Poppins', sans-serif; font-size:12px; text-transform:uppercase; color:#fff}

/* top bar - navigation */
.topBar a.nav { display:inline-block; vertical-align:top; height:18px; width:40px; background-image: url("../images/nav-bg.png");background-repeat:no-repeat; background-size: contain; margin:0 0 0 47px; }
#newsletter.summer .topBar a.nav {margin: 0 0 0 29px;}
.topBar a.nav:hover, .topBar a.nav:focus {background-image: url("../images/nav-bg-hover.png"); }
.topBar ul {margin: -1px 0 0 66px; padding: 15px 0; list-style-type: none; background: #d1d9dc; width: 225px;  font-size: 14px; border-left: 1px solid #ed1c24;}
.topBar ul li {display:block;}
.topBar ul li a {display:block; color:#000; font-size:12px;padding: 3px 20px;text-decoration:none;font-family: 'Poppins', sans-serif;}
.topBar ul li a:hover, .topBar ul li a:focus {color:#fff;background:#ed1c24}

/* logo */
#logo { text-align:center}
#logo img {max-width:275px;}

/* home page side nav */
ul#sideNav {margin:68px 0 0; padding:0; list-style-type: none}
ul#sideNav li {margin: 0 0 5px}
ul#sideNav li:last-child {margin:0}
ul#sideNav li {text-decoration:none; font-weight:400; color: #fff; font-family: 'Poppins', sans-serif; font-size:10px}
ul#sideNav a:hover, ul#sideNav a:focus {color:#DBF1FC; text-decoration:underline}

/* content */
.pageOne #contentWrap {padding: 20px 0 0}
.pageOne #contentWrap aside {padding:0}
.pageOne #contentWrap article {padding:0}
#contentWrap {padding: 50px 0 0}
#contentWrap .container {display:flex;justify-content:space-between;align-items:stretch;flex-flow:row nowrap;padding: 0 20px;margin: initial;}
#contentWrap aside {flex:0 0 50%; padding: 0 0 0 15px; box-sizing: border-box; float: none !important}
#contentWrap article {flex:0 0 50%;padding: 0 15px !important;box-sizing: border-box;border: 0 !important;}

.pageOne #content h1 {margin:50px 0 20px}
.pageOne #content h2 {margin:0}
.subHeader {color: #009ee2;font-size: 12px; font-weight:400; font-family: 'Poppins', sans-serif;}
#content img {max-width:100%;}
#content h1, #contentWrap aside h1, #overview h1 {margin:0; color: #009ee2; font-size: 36px; line-height:1.1em; font-weight:400; font-family: 'Poppins', sans-serif;}
#content h2, #contentWrap aside h2 {margin: 20px 0 0; color: #009ee2; font-size:28px; line-height:1.3em; font-weight:400; font-family: 'Poppins', sans-serif; }
#newsletter p, #contentWrap aside, #content ul li, .pageNum span {color: #4e4e4e;font-size:14px;line-height:20px;font-weight:400;font-family: 'Poppins', sans-serif;}
#newsletter a, #contentWrap a {font-weight:600; text-decoration:none; color:#ED1C24}
#newsletter a:hover, #contentWrap a:hover, #newsletter a:focus, #contentWrap a:focus {color:#000; text-decoration:underline}

/* right side - image */
#contentWrap aside img {max-width: 100%}
#contentWrap aside img.long {max-height: 650px; display: table; margin: 0 auto; width: auto;}

/* home page side nav */
ul#sideNav {margin:68px 0 0; padding:0; list-style-type: none}
ul#sideNav li {margin: 0 0 5px}
ul#sideNav li:last-child {margin:0}
ul#sideNav a {text-decoration:none; font-weight:400; color: #fff; font-family: 'Poppins', sans-serif; font-size:10px}
ul#sideNav a:hover, ul#sideNav a:focus {color:#DBF1FC; text-decoration:underline}

/* home page - left side blurb */
#blurb {padding:20px 20px 20px 65px }
#blurb p {color: #009ee2; font-size:16px; font-family: 'Poppins', sans-serif; text-align: right;}

/* info box - page 4 */
#infoBox {position:relative;margin:25px 0 0;
padding:25px;
background: rgba(0,150,220,1);
background: -moz-linear-gradient(top, rgba(0,150,220,1) 0%, rgba(0,150,220,1) 27%, rgba(0,96,174,1) 71%, rgba(0,96,174,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,150,220,1)), color-stop(27%, rgba(0,150,220,1)), color-stop(71%, rgba(0,96,174,1)), color-stop(100%, rgba(0,96,174,1)));
background: -webkit-linear-gradient(top, rgba(0,150,220,1) 0%, rgba(0,150,220,1) 27%, rgba(0,96,174,1) 71%, rgba(0,96,174,1) 100%);
background: -o-linear-gradient(top, rgba(0,150,220,1) 0%, rgba(0,150,220,1) 27%, rgba(0,96,174,1) 71%, rgba(0,96,174,1) 100%);
background: -ms-linear-gradient(top, rgba(0,150,220,1) 0%, rgba(0,150,220,1) 27%, rgba(0,96,174,1) 71%, rgba(0,96,174,1) 100%);
background: linear-gradient(to bottom, rgba(0,150,220,1) 0%, rgba(0,150,220,1) 27%, rgba(0,96,174,1) 71%, rgba(0,96,174,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0096dc', endColorstr='#0060ae', GradientType=0 );
}
#infoBox::before{display:block; content:""; position:absolute;top:0; bottom:auto;left:0; right:auto; background: url("../images/page4-corner.png") no-repeat top left / contain; height:100%; width: 100%; max-height:23px; max-width: 29px}
#infoBox p {margin:0; color:#fff; text-shadow: 1px 1px 5px #000;font-style:italic;font-size:16px;font-family: 'Poppins', sans-serif;}

/* form - page 8 */
#featureForm .container {display:flex; padding:0}
#featureForm aside.left {flex:1; padding:0}
#featureForm aside.right {flex:1; padding: 0 0 0 30px}
#featureForm input[type="text"], #featureForm input[type="email"], #featureForm textarea { width: 100%; border:1px solid #009ee2; padding: 10px; box-sizing: border-box; -webkit-box-shadow: inset 1px 1px 12px 0px rgba(0,0,0,0.1);
-moz-box-shadow: inset 1px 1px 12px 0px rgba(0,0,0,0.1);
box-shadow: inset 1px 1px 12px 0px rgba(0,0,0,0.1);}
#featureForm input[type="text"], #featureForm input[type="email"] {height:25px}
#featureForm textarea {height: 210px}
#featureForm .radio {display:inline-block; vertical-align: top; text-align:center}
#featureForm .radio input {border:1px solid #009ee2; }
#featureForm .radio span {display:block}
#featureForm p {text-transform:uppercase; font-size: 12px}
#featureForm #submit {display:table; margin: 20px auto 0; background: #009ee2; color:#fff; text-shadow: 1px 1px 2px rgba(0,0,0,0.7); border: none; padding: 10px 45px; font-family: 'Poppins', sans-serif; font-size:14px; text-transform:uppercase; -webkit-box-shadow: inset 1px 1px 4px 0px rgba(0,0,0,0.21);
-moz-box-shadow: inset 1px 1px 4px 0px rgba(0,0,0,0.21);
box-shadow: inset 1px 1px 4px 0px rgba(0,0,0,0.21);}
#featureForm #submit:hover, #featureForm #submit:focus {background:#005DAB;}

/* contributors */
#contributors {position:absolute; bottom:15px; top:auto; left:25px; right: auto; }
#contributors p {font-family: 'Poppins', sans-serif; font-size:12px; color: #009ee2; text-shadow: 1px 1px 2px rgba(255,255,255,0.5);}
#contributors .title {text-transform:uppercase; color: #005dac}

/* next button, bottom right of the page */
#nextBtn {position: absolute; right: 0; bottom: 0; width: 100%; max-width: 90px; max-height:90px; height: 100%; background: url("../images/next-bg.png") no-repeat right bottom / contain}
#nextBtn p {margin:0; position: absolute; right: 10px; bottom:15px}
#nextBtn a {text-decoration:none; font-size:14px; color: #005dac; font-weight:600; font-family: 'Nunito', sans-serif; text-transform:lowercase}
#nextBtn a:hover, #nextBtn a:focus {color:#000; text-decoration:underline}

/* end button, bottom right of the page */
#endBtn {position: absolute; right: 0; bottom: 0; width: 100%; max-width: 90px; max-height:90px; height: 100%; background: url("../images/page8-end.png") no-repeat right bottom / contain}
#endBtn p {margin:0; position: absolute; right: 10px; bottom:15px;font-size:14px; color:#fff;  font-weight:600; font-family: 'Nunito', sans-serif; text-transform:lowercase }

/* DNN Stats */
div.stats {border: 1px solid #eee; box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);}
div.stats > div.row {display: flex; align-items: center; justify-content: space-between;}
div.stats > div.row:nth-child(even) {background-color: rgba(255,255,255,0.9);}
div.stats > div.row:nth-child(odd) {background-color: rgba(0,93,171,0.9);}
div.stats > div.row > div {float: none; padding: 5px;}
div.stats > div.row > div p {margin: 0; padding: 0;}
div.stats > div.row:nth-child(odd) p {color: #fff !important;}

/* PAGE FLIP CSS, DO NOT EDIT!!!! */
#newsletter {cursor: grab; opacity: 0;width: 50%;height: 100%;margin: 0 0 0 auto;-webkit-perspective: 2000px;perspective: 2000px;transition: opacity 1s ease; float: none !important;}
#newsletter.no-select {user-select: none;}
#newsletter.visible {opacity: 1;}
#newsletter.grab {cursor: grabbing;}
#newsletter #content {background: transparent !important; border: 0; padding: 0;}
#newsletter div.newsletterWrap {position: relative;width: 100%;height: 800px; -webkit-transform-style: preserve-3d;transform-style: preserve-3d;}
#newsletter div.newsletterWrap > ul {list-style-type: none; margin: 0; padding: 0;}
#newsletter div.newsletterWrap > ul div.page {position: absolute;color: black;width: 100%;height: 100%;-webkit-transition: 1.5s -webkit-transform;transition: 1.5s transform;-webkit-transform-style: preserve-3d;transform-style: preserve-3d;-webkit-transform-origin: left center;-ms-transform-origin: left center;transform-origin: left center;z-index: 1;}
#newsletter div.newsletterWrap > ul div.page.flipped {-webkit-transform: rotateY(-180deg); transform: rotateY(-180deg);}
#newsletter div.newsletterWrap > ul div.page.active {z-index: 100}
#newsletter div.newsletterWrap > ul div.page.flipped:last-of-type {z-index: 100;}
#newsletter div.newsletterWrap > ul div.page > li {position: absolute;width: 100%;height: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box; -moz-backface-visibility: hidden !important;}
#newsletter div.newsletterWrap > ul div.page > li.back {-webkit-transform: rotateY(180deg); transform: rotateY(180deg);}
/*moves newsletter inside of script*/
#newsletter div.newsletterWrap > ul div.page > li.front > main {margin: 0 auto 0 0;}
#newsletter div.newsletterWrap > ul div.page > li.back > main {margin: 0 0 0 auto;}
#newsletter.right div.newsletterWrap > ul div.page.flipped {z-index: 101}
#newsletter.left div.page.active {z-index: 200;}
#newsletter.left div.newsletterWrap div.page:not(.active) {z-index: 1;}
#newsletter.left div.newsletterWrap div.active + div {z-index: 99 !important;}
#newsletter div.page.hidden li.front header.topBar {display: none;} /* hides prev title in firefox*/
div.page.flipped.hidden:last-child:not(.active) > li.front {-moz-backface-visibility: hidden !important; backface-visibility: hidden !important; pointer-events: none;} /* if nothing on the last page, prevents front from showing in some browsers*/
/* Newsletter controls */
div.newsletter.controls {position: fixed; top: 50%; left: 0; right: 0; bottom: auto; transform: translatey(-50%);}
div.newsletter.controls a {position: absolute; top: 0; left: auto; right: auto; bottom: auto}
div.newsletter.controls a.prev {left: 50px !important;}
div.newsletter.controls a.next {right: 50px !important;}
div.newsletter.controls a:before {font-family: FontAwesome;}
div.newsletter.controls a.prev:before {}
div.newsletter.controls a.next:before {}
/* for back pages (prev button) */
li.back #nextBtn {right: auto; left: 0; transform: scaleX(-1);}
li.back #nextBtn p {transform: scaleX(-1) !important;} 
/*prev and next buttons*/
main {position: relative;}
li.front #nextBtn:after {right: 0; }
li.back #nextBtn:after {left: 0; }
#nextBtn:after {width: 0; height: 0; content: ""; position: absolute; bottom: 0; top: auto; border-bottom: 100px solid #D6EFFB; border-left: 100px solid transparent; z-index: 10; animation: pulse 2s infinite alternate ease-in-out;}
#nextBtn p {z-index: 11;}
#nextBtn p a {animation: pulse2 2s infinite alternate ease-in-out;}
@keyframes pulse {0% {border-bottom-color: #D6EFFB} 100% { border-bottom-color: #015DAA;}}
@keyframes pulse2 {0% {color: #015DAA} 100% { color: #D6EFFB;}}
/* Page Numbers */
#newsletter div.pageNum {position: absolute; bottom: 10px; top: auto;}
#newsletter li.front div.pageNum {right: 110px; left: auto;}
#newsletter li.back div.pageNum {left: 100px; right: auto;}
/*do not delete*/
#newsletter div.page.active:first-child li.back {pointer-events: none;}
#newsletter div.page.hidden.remove {pointer-events: none !important;}
#newsletter div.page.hidden li.front {pointer-events: none;}
#newsletter div.newsletterWrap > ul div.page.active:first-child ~ div {pointer-events: none;}
#newsletter div.newsletterWrap > ul div.page.active > li.back {pointer-events: none;}
#newsletter div.newsletterWrap > ul div.page:not(.flipped):not(.active) {pointer-events: none;}
/* Presence overrides */
#newsletter #logo img {max-width: 275px;}
#newsletter .container {min-height: 0 !important;}
#content div.intRightCol div {overflow: visible !important}
.subpage #content div.colWrap {display: block !important; min-width: 100%;}
.subpage #template div.intLeftCol {display: none; float: none !important;}
.subpage #template div.intRightCol {flex: 1 100%;float: none !important;padding: 0;}
/*form on last page*/
#secure-form > section {display: flex;}
#secure-form > section > div.formLeft {flex: 1 50%;}
#secure-form > section > div.formRight {flex: 1 50%; padding: 0 0 0 10px;}
/*disable effects of the isSmaller class*/
#template {background-position: center}
#fakeHeader {position: static;}
div#overview {margin: 0 !important;}
.isSmaller #utilityNav li a {font-size: 14px; padding: 20px;}
.isSmaller #headerBot {padding: 20px 0;}
.isSmaller #primaryNav div.RadMenu > ul > li > a, .isSmaller #primaryNav div.RadMenu > ul ul li a {font-size: 16px;}

/*form on page 8 */
.secureform .tbl {border: 0; border-radius: 0; background: transparent;}
.secureform #dvViewBody > div div, .secureform #dvViewBody > div p, .secureform .form-element.checkboxGroup fieldset > span {display: block;}
.secureform section {border: 0;}
#secure-form textarea {max-height: none;margin: 0 !important;height: 210px !important;width: 100%;border: 1px solid #009ee2;padding: 10px;box-sizing: border-box;-webkit-box-shadow: inset 1px 1px 12px 0px rgba(0,0,0,0.1);-moz-box-shadow: inset 1px 1px 12px 0px rgba(0,0,0,0.1);box-shadow: inset 1px 1px 12px 0px rgba(0,0,0,0.1);}
#secure-form input[type='text'], #secure-form input[type='email'] {height: 25px; width: 100%; border: 1px solid #009ee2; border-radius: 0; padding: 10px; box-sizing: border-box; -webkit-box-shadow: inset 1px 1px 12px 0px rgba(0,0,0,0.1); -moz-box-shadow: inset 1px 1px 12px 0px rgba(0,0,0,0.1); box-shadow: inset 1px 1px 12px 0px rgba(0,0,0,0.1);}
#secure-form label {color: #4e4e4e; font-size: 14px; line-height: 20px; font-weight: 400; font-family: 'Poppins', sans-serif;}
#secure-form div.form-group div.radio {display: inline-block; width: auto !important;}
#secure-form div.form-group > label {display: block;}
#secure-form div.form-group div.radio label {display: block;}
#secure-form div.form-group div.radio input {display: block;}
#newsletter #dvViewMode {padding: 0 !important}
#newsletter .pageEight label {width: auto !important;}
#newsletter .form-element {margin-top: 0 !important}
#newsletter .secureform section {margin: 0 !important;}
#newsletter .pageEight .secureform input[type="submit"] {display: table; margin: 10px auto 0; font-weight: normal; line-height: normal; background: #009ee2; color: #fff; text-shadow: 1px 1px 2px rgba(0,0,0,0.7); border: none; border-radius: 0; padding: 10px 45px; font-family: 'Poppins', sans-serif; font-size: 14px; text-transform: uppercase; -webkit-box-shadow: inset 1px 1px 4px 0px rgba(0,0,0,0.21); -moz-box-shadow: inset 1px 1px 4px 0px rgba(0,0,0,0.21); box-shadow: inset 1px 1px 4px 0px rgba(0,0,0,0);}
#newsletter .pageEight .secureform input[type="submit"]:hover, #newsletter .pageEight .secureform input[type="submit"]:focus {background-color: #005DAB}
#newsletter .pageEight input[type="submit"][value="Reset"] {display: none !important}

/* contributors */
#contributors {position:absolute; bottom:15px; top:auto; left:25px; right: auto; }
#contributors p {font-family: 'Poppins', sans-serif; font-size:12px; color: #009ee2; text-shadow: 1px 1px 2px rgba(255,255,255,0.5);}
#contributors .title {text-transform:uppercase; color: #005dac}

/*Flex Column Classes for Main Content*/
#theme #contentWrap > div.container.wrap {flex-wrap: wrap;}
#theme #contentWrap > div.container.nowrap {flex-wrap: nowrap;}
#theme #contentWrap .first {-webkit-box-ordinal-group: 2;-ms-flex-order: 1;order: 1;}
#theme #contentWrap .second {-webkit-box-ordinal-group: 3;-ms-flex-order: 2;order: 2;}
#theme #contentWrap .flex-10 {-webkit-box-flex: 1;-ms-flex: 1 1 10%;flex: 1 1 10%;}
#theme #contentWrap .flex-20 {-webkit-box-flex: 1;-ms-flex: 1 1 20%;flex: 1 1 20%;}
#theme #contentWrap .flex-30 {-webkit-box-flex: 1;-ms-flex: 1 1 30%;flex: 1 1 30%;}
#theme #contentWrap .flex-40 {-webkit-box-flex: 1;-ms-flex: 1 1 40%;flex: 1 1 40%;}
#theme #contentWrap .flex-50 {-webkit-box-flex: 1;-ms-flex: 1 1 50%;flex: 1 1 50%;}
#theme #contentWrap .flex-60 {-webkit-box-flex: 1;-ms-flex: 1 1 60%;flex: 1 1 60%;}
#theme #contentWrap .flex-70 {-webkit-box-flex: 1;-ms-flex: 1 1 70%;flex: 1 1 70%;}
#theme #contentWrap .flex-80 {-webkit-box-flex: 1;-ms-flex: 1 1 80%;flex: 1 1 80%;}
#theme #contentWrap .flex-90 {-webkit-box-flex: 1;-ms-flex: 1 1 90%;flex: 1 1 90%;}
#theme #contentWrap .flex-100 {-webkit-box-flex: 1;-ms-flex: 1 1 100%;flex: 1 1 100%;}

/* DEFAULT FOR BANNER */
#banner h3 {margin: 20px 0 0;}
.slider.controls .cycle-slideshow {
	margin: 0 auto;
	z-index: 5;
}
.slider.controls figure {
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: flex !important;
	flex-wrap: wrap;
}
.slider.controls figure > img {
	display: block;
	position: relative;
	/* width: 100%; */
	margin: 0 auto;
}
.slider.controls figcaption {
	padding: 20px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 1001;
	background: rgba(255,255,255,.40);
}
.slider.controls figcaption p {
	margin: 0;
}
.slider.controls figcaption a {
	display: block;
	font-weight: 700;
}
.slider.controls figcaption a:after {
    display: inline-block;
    margin-left: 5px;
    content: " \00bb";
}

/* Pause-Play */
.slider.controls div#pause-play {
    display: block;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 30px;
    height: 30px;
    z-index: 1001;
}
.slider.controls #pause-play a {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 0;
	width: 30px;
	height: 30px;
	z-index: 5;
	background: rgba(255,255,255,.75);
	text-align: center;
	color: rgba(0,0,0,.85);
	text-decoration: none;
	transition: all 200ms ease-in;
}
.slider.controls #pause-play a:before {
	font-size: .85rem;
	line-height: 3rem;
}
.slider.controls #pause-play.play a.fa-pause {
	opacity: 0;
	z-index: 0;	
}	
.slider.controls #pause-play.pause a.fa-play {
	opacity: 0;
	font-size: 0;
	z-index: 0;
}

/* Pagers */
.slider.controls ol.selector { 
	display: none !important;
}

/* Arrow Controls */
.slider.controls .cycle-prev, .slider.controls .cycle-next {
	display: block !important;
	position: absolute;
	right: 0;
	width: 2.25em;
	padding: .5em 0 0;
	background: rgba(255,255,255,.75);
	font-size: 16px !important;
	line-height: 1.5em !important;
	text-align: center;
	vertical-align: middle;
	z-index: 1001;
}
.slider.controls .cycle-next {
	top: 2.5em;
}
.slider.controls .cycle-prev {
	top: 0;
}
.slider.controls .cycle-prev:hover, .slider.controls .cycle-prev:focus, .slider.controls .cycle-next:hover, .slider.controls .cycle-next:focus {
	background: rgba(255,255,255,1);
}
.slider.controls .cycle-prev span, .slider.controls .cycle-next span {
	font-size: 0;
}

@media screen and (min-width: 768px) {
	.slider.controls figcaption {
		position: relative;
		bottom: 20px;
		left: 20px;
		/* width: 65%; */
		/* max-width: 600px; */
		padding: 20px 20px 30px;
		background: rgba(255,255,255,.40);
		font-size: 1.6rem;
		order: 2;
		flex: 1 100%;
	}
	div.slider.controls div.cycle-slideshow ol.selector {
		display: block;
		bottom: 30px !important;
		left: 40px;
		width: 40%;
		position: absolute;
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		z-index: 1001; 
	}
	.slider.controls ol.selector li {
		display: inline-block;
	}
	.slider.controls ol.selector li span { 
		display: block;
		width: 6px;
		height: 6px;
		margin: 0 4px 0 0;
		padding: 0;
		background: rgba(13,40,74,.25);
		border-radius: 50%;
		font-size: 0;
		}
	.slider.controls ol.selector li:last-child span {
		margin: 0;
	}
	.slider.controls ol.selector li.cycle-pager-active span { background: rgba(13,40,74,1);}
	.slider.controls .cycle-prev, .slider.controls .cycle-next {
		font-size: 22px !important;
	}
}
@media screen and (min-width: 1024px) {
	/* Pause-Play */
	.slider.controls div#pause-play {
		top: 50%;
		left: 50%;
		width: 80px;
		height: 80px;
		-webkit-transform: translate(-50%,-50%);
		-moz-transform: translate(-50%,-50%);
		-ms-transform: translate(-50%,-50%);
		-o-transform: translate(-50%,-50%);
		transform: translate(-50%,-50%);
		z-index: 1001;
	}
	.slider.controls #pause-play a {
		width: 80px;
		height: 80px;
		border-radius: 50%;
		opacity: 0;
	}
	.slider.controls #pause-play a:before {
		font-size: 25px;
		line-height: 3.35em;
	}
	.slider.controls:hover #pause-play a {
		opacity: .5;
	}
	.slider.controls #pause-play a:hover, .slider.controls #pause-play a:focus {
		opacity: 1;
		box-shadow: 2px 3px 200px rgba(0,0,0,.45);
	}
}