@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,400i,700,700i|Open+Sans:400,700');

body {padding: 0; margin: 0; font-family: 'Roboto', sans-serif;}
* {box-sizing: border-box;}
.container {margin: 0 auto; max-width: 82.5em; width: 100%;}
/*Fonts */
h1 {color: #ffffff; font-weight: 100; line-height: 1.1em; font-size: 2.75em; font-family: 'Roboto', sans-serif; margin: 0;}
h2 {color: #808080;font-weight: 300;line-height: 1.1em;font-size: 2.15em;margin: 0 0 15px;}
.InformativeAnimation h2 {margin: 0;}
h3 { font-size:1.25em;  }
h4 { font-size:1.15em;  }
h5 { font-size:1.05em;  }
h6 { font-size:1em;  }
/* header */
#template > header {background-color: #1F1F1F; -webkit-box-shadow: 0 1px 0 0 rgba(93,207,255,.25); box-shadow: 0 1px 0 0 rgba(93,207,255,.25);}
#template > header:before {content: ""; display: block; width: 100%; height: 2px; background: linear-gradient(to right, #005dac 25%,#ec9719 25%, #ec9719 50%, #58b947 50%, #58b947 75%, #4a3092 75%);}
#template > header > .container {-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end;}
/*page title*/
section.pageTitle {background: #009ee1;padding: 30px 0;margin: 0 0 2vw;}

/* Search Bar */
.searchBox {-webkit-transition:all 0.5s ease;transition:all 0.5s ease;width:260px;margin: 0 0 0 auto;border-left:rgba(93,207,255,.25) 1px solid;}
.searchBox > div { height:100%; margin:0;  }
.searchBox input:focus::placeholder { color:ffffff;  }
.searchBox::placeholder { color:#ffffff;  }
.searchBox .gsc-search-box-tools.gsc-search-box { margin:0;  }
.searchBox .gsc-search-box-tools.gsc-search-box table { height:100%; margin:0; width: 100%;}
.searchBox .gsc-search-box-tools.gsc-search-box td.gsc-search-button { -webkit-transition:background 0.35s ease; transition:background 0.35s ease; width:32px; height:100%; background-color:#0092D1; text-align:center;  }
.searchBox .gsc-search-box-tools.gsc-search-box td.gsc-search-button:hover, .searchBox .gsc-search-box-tools.gsc-search-box td.gsc-search-button:focus {background-color: #005dac;}
.searchBox .gsc-search-box-tools.gsc-search-box td.gsc-search-button input { width:15px; height:15px; margin:0; padding:0; background:none; border:none;  }
.searchBox .gsc-search-box-tools.gsc-search-box td.gsc-search-button button { margin:0; padding:10px; background:none; border:none; cursor:pointer;  }
.searchBox .gsc-search-box-tools.gsc-search-box td.gsc-search-button button svg { width:15px; height:15px;  }
.searchBox .gsc-search-box-tools.gsc-search-box .gsc-input { padding:0 !important; background-color:transparent !important; background-image:none !important; font-size:14px; text-indent:5px !important;  }
.searchBox .gsc-search-box-tools.gsc-search-box table input {color: #ffffff;}
.searchBox .gsc-search-box-tools.gsc-search-box .gsc-input .gsc-input-box { display:block; height:35px; background:none; border:none;  }
.searchBox .gsc-search-box-tools.gsc-search-box .gsc-input .gsc-input-box td { padding:0 0 0 10px !important;  }
.searchBox .gsc-search-box-tools.gsc-search-box .gsc-input a { padding-top:2.5px;  }
.searchBox .gsc-search-box-tools.gsc-search-box .gsc-input a:hover span, .searchBox .gsc-search-box-tools.gsc-search-box .gsc-input a:focus span { border-color:transparent;  }
.searchBox .gsc-search-box-tools.gsc-search-box .gsc-input a span { -webkit-transition:all 0.35s ease; transition:all 0.35s ease; line-height:0.6em; font-size:1em; padding:4px 4px 4px 0; background:transparent; border:#ffffff 1px solid; color:#ffffff;  }
.searchBox .gsc-search-box-tools.gsc-search-box .gsc-input a:hover span, .searchBox .gsc-search-box-tools.gsc-search-box .gsc-input a:focus span { background-color:#ffffff; color:#001b46;  }
/*search bar icon*/
.gsc-search-button-v2 svg {fill: #fff;}
.searchBox .gsc-search-box-tools.gsc-search-box td.gsc-search-button button svg {width: 15px; height: 15px;}

/* primary nav */
#primaryNavigation { display:none; -webkit-box-flex:1; -ms-flex:1 0 auto; flex:1 0 auto; z-index:15;  }
#primaryNavigation .rootGroup { -webkit-box-align:center; -ms-flex-align:center; align-items:center; -webkit-box-pack:end; -ms-flex-pack:end; justify-content:flex-end;  }
#primaryNavigation .rootGroup > li { padding:.85em 1em .5em;  }
#primaryNavigation .rootGroup > li:hover > .subWrap ul > li, #primaryNavigation .rootGroup > li a:focus + .subWrap ul > li { max-height:80px; -webkit-transition:all 0.5s ease-out 0.1s; transition:all 0.5s ease-out 0.1s;  }
#primaryNavigation .rootGroup > li > a { -webkit-transition:all 0.25s ease; transition:all 0.25s ease; display:block; color:#ffffff; font-size:1em; font-weight:300;  }
#primaryNavigation .rootGroup > li > a::after { display:block; width:30px; height:2px; margin-top:.35em; content:' '; background-color:#5dcfff; -webkit-transform:scaleX(0); transform:scaleX(0); -webkit-transform-origin:left; transform-origin:left; -webkit-transition:transform .25s ease-in-out; transition:transform .25s ease-in-out; opacity:0;  }
#primaryNavigation .rootGroup > li:hover > a::after, #primaryNavigation .rootGroup > li > a:hover::after, #primaryNavigation .rootGroup > li > a:focus::after { -webkit-transform:scaleX(1); transform:scaleX(1); opacity:1;  }
#primaryNavigation .rootGroup .subWrap { position:absolute; top:100%; min-width:240px; z-index:5; background-color:rgba(0,27,70,.95); text-align:left;  }
#primaryNavigation .rootGroup ul li { -webkit-transition:all 0.25s ease-out 0.15s; transition:all 0.25s ease-out 0.15s; position:relative; max-height:0; overflow:hidden;  }
#primaryNavigation .rootGroup ul li a { display:block; position:relative; padding:.65em 1em; border-bottom:rgba(93,207,255,.15) 1px solid; -webkit-box-shadow:inset 0 0 0 0 #5dcfff; box-shadow:inset 0 0 0 0 #5dcfff; -webkit-transition:all 0.25s ease; transition:all 0.25s ease; color:#ffffff; font-size:.9em; font-weight:400;  }
#primaryNavigation .rootGroup ul li a:hover, #primaryNavigation .rootGroup ul li a:focus { padding:.65em .5em .65em 1.5em; -webkit-box-shadow:inset 6px 0 0 0 #5dcfff; box-shadow:inset 6px 0 0 0 #5dcfff;  }

/*fake header*/
#fakeHeader {background-color: #005DAC !important; padding: 10px 0;}

/* Footer */
footer {padding: 10px 0 15px;background-color:#FFFFFF;text-align:left;margin: 2vw 0 0;}
footer .container {margin: 0 auto;max-width: 75rem;padding: 0 10px;}
footer p {margin:0;color: #565757 !important;font-size: 11px;line-height: 1.85em;font-family: 'Open Sans', sans-serif;}
footer a, footer .admin_menu {color: #222;text-decoration: underline;transition: none;font-size: 11px;font-weight:  400;font-family: inherit;}
footer a:hover, footer a:focus, footer .admin_menu:hover, footer .admin_menu:focus {text-decoration: none; color: intial;}
footer a::after { background-color:#ffffff;  }
footer span.label_skin_corporation, footer .admin_menu { font-family:inherit; font-size:inherit;  }
footer .admin_menu { margin:0; font-weight:700; text-decoration:none;  }
#footerWest {display:flex;text-align:left;font-size:14px;border-bottom: 1px solid #cccccc;padding:0 0 20px 0;margin: 0 0 20px;}
#footerWest span {  }
#footerWest span:first-child {padding: 0 20px 28px 0;min-width:80px;display:  inline-block;}